.logoCotainer {
  display: flex;
  height: 100vh;
}
.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: white;
  height: 100vh;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(212, 212, 215, 1);
  height: 100vh;
}
.loginForms {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.forgotPass {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  align-self: flex-start;
  color: #e73f3f;
  &:hover {
    color: red;
  }
}
.label {
  align-self: flex-start;
}
.inputPass {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
.iconEye {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 20px;
  height: 20px;
}
.images {
  width: 800px;
  height: 100vh;
}
.logo {
  width: 50%;
  height: 40%;
}
