.logoCotainer {
  display: flex;
  height: 100vh;
}
.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: white;
  height: 100vh;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(212, 212, 215, 1);
  height: 100vh;
}
.loginForms {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
.images {
  width: 848px;
  height: 810px;
}
.h2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
}
.p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.btnContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.images {
  width: 800px;
  height: 100vh;
}
.logo {
  width: 50%;
  height: 40%;
}
