.container {
  display: flex;
  align-items: center;
}
.startDate {
  display: flex;
  width: 7.6rem;
  color: #a9a9b0;
  padding: 10px 1.5rem;
  border: 1.5px solid #d4d4d7;
  border-radius: 8px;
  background: #ffffff;
}
.dateInputContainer {
  display: flex;
  align-items: center;
  position: relative;
}
.iconDate {
  position: absolute;
  z-index: 1;
  margin-left: 0.5rem;
  font-size: 14px;
  color: #ff7506;
}
.iconNext {
  color: #535261;
  font-size: 12px;
  margin: 0 0.3rem 0 0.3rem;
}
