$bg-color: #e6e92c;

body {
  background: $bg-color;
}

.Container {
  display: flex;
  height: 100vh;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  // margin-top: 20px;
  // padding-left: 5%;
  // padding-right: 5%;
}

p {
  margin-bottom: 0;
}

// Checkbox custom
.checkBox {
  position: relative;
}

.iconCheck {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  color: white;
}

.changeCheckBox {
  background-color: #0275fe;
}

/// table service detail page
.table-scss {
  margin-top: 1rem;
}
.table-scss thead {
  background-color: #ff9138;
  border-radius: 8px;
}
.table-scss tbody tr:nth-child(2),
.table-scss tbody tr:nth-child(4),
.table-scss tbody tr:nth-child(6),
.table-scss tbody tr:nth-child(8) {
  background-color: #fff2e7;
}
